@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@using Microsoft.JSInterop;


<div id="canvasHolder" style="
    background: #000;
    margin:0%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    ">
    <canvas id="theCanvas"></canvas>
</div>
<img id="image1" src="icon-192.png" width="100" height="100" style="visibility:collapse;" />

@code {
    private IEventLoop? _eventLoop;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        WebApplication application = new WebApplication();
        application.ServiceContainer.RegisterAll<CanvasWindow>();
        application.ServiceContainer.RegisterAll<FontRenderer>();
        application.ServiceContainer.RegisterAll<WebRenderingAPI>();
        application.ServiceContainer.RegisterAll<Renderer2D>();
        application.ServiceContainer.RegisterAll<PerformanceProfiler>();
        application.ServiceContainer.RegisterAll<WebInputService>();
        application.ServiceContainer.RegisterAll<EventLoop>();

        // Assets
        application.ServiceContainer.RegisterAll<EntitySerializer>();
        application.ServiceContainer.RegisterAll<FontAssetLoader>();
        application.ServiceContainer.RegisterAll<AssetService>();
        application.ServiceContainer.RegisterAll<TextureAssetLoader>();
        application.ServiceContainer.RegisterAll<PerformanceProfiler>();
        application.ServiceContainer.RegisterAll<XmlSerializer>();
        application.ServiceContainer.RegisterAll<SpriteXmlAssetLoader>();
        application.ServiceContainer.RegisterAll<SceneXmlLoader>();
        application.ServiceContainer.RegisterAll<ShaderAssetLoader>();

        var entityManager = new EntityManager(new ServiceContainer(application.ServiceContainer), application.ServiceContainer.GetInstance<IScheduleManager>());

        // World
        entityManager.WorldContainer.RegisterAll<CameraSystem>();
        entityManager.WorldContainer.RegisterAll<TransformSystem>();
        entityManager.WorldContainer.RegisterAll<HierarchySystem>();
        entityManager.WorldContainer.RegisterAll<SpriteRenderingSystem>();
        entityManager.WorldContainer.RegisterAll<SceneSystem>();
        entityManager.WorldContainer.RegisterAll<PhysicsSystem2D>();
        entityManager.WorldContainer.RegisterAll<Experimentation>();

        _eventLoop = application.ServiceContainer.GetInstance<IEventLoop>();

        IAssetService assetService = application.ServiceContainer.GetInstance<IAssetService>();

        assetService.Mount("/", new HttpAssetSource(Http, ""));

        AssetManifest manifest = new AssetManifest([
            (typeof(Texture2D), "/Content/Textures/player.png"),
            (typeof(Texture2D), "/Content/Textures/he.png"),
            (typeof(Scene), "/Content/FooScene.xml"),
            (typeof(Scene), "/Content/FooScene2.xml"),
            (typeof(Sprite), "/Content/FooSprite.xml"),
            (typeof(Font), "/Content/Roboto-Regular.ttf")
        ]);

        await assetService.PreLoadAsync(manifest);

        application.Initialize();
        _eventLoop.Start();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void Tick()
    {
        if (_eventLoop == null) { return; }

        _eventLoop.Tick();
    }
}